
<div class="d-flex flex-row justify-content-between align-items-center my-2 pl-2 border-left border-primary">
    
    <div class="mr-3">
        {{#if this.isEditting}}
            {{input 
                type="text" class="mx-3 h-100 form-control" placeholder="Change name" value=newName
            }}
            {{!-- {{input type="text" class="form-control w-50 " value=newName}} --}}
        {{else}}
        {{input 
            type="text" class="mx-3 h-100 form-control" placeholder="Change name" value=newName
            disabled=true
        }}
                {{!-- {{@person.name}} --}}
            
        {{/if}}
    </div>
    <div class="d-flex flex-row">
        {{#if this.isEditting}}
            <button 
                type="button" 
                class="btn btn-success btn-circle ml-1" 
                onclick={{this.updatePerson}}
                disabled={{if this.newName false true}}
                >
                <FaIcon @icon="check" />
            </button>
            <button 
                type="button" 
                class="btn btn-secondary btn-circle ml-1" 
                onclick={{this.toggleEditting}}
                >
                <FaIcon @icon="times-circle" />
            </button>
        {{else}}
            <button 
                type="button" 
                class="btn btn-primary btn-circle ml-3" 
                onclick={{this.toggleEditting}}>
                <FaIcon @icon="edit" class="primary"/>
            </button>
        {{/if}}
        <button 
            type="button" 
            class="btn btn-danger btn-circle ml-1" 
            onclick={{this.deletePerson}}>
            <FaIcon @icon="trash" />
        </button>
        {{input type="text" class="mx-3" placeholder="Add reporter" value=newPerson}}
        <button 
            type="button" 
            class="btn btn-secondary btn-circle ml-1" 
            onclick={{this.createReporter}}
            disabled={{if this.newPerson false true}}
            >
            <FaIcon @icon="plus" />
        </button>
    </div>
</div>