
<div class="d-flex flex-row justify-content-between align-items-center">
    
        {{#if this.isEditting}}
            {{input type="text" class="form-control w-50 " value=newName}}
        {{else}}
        <div class="mr-3">
            {{@person.name}}
        </div>
        {{/if}}
    <div>
        {{#if this.isEditting}}
            <button 
                type="button" 
                class="btn btn-success btn-circle" 
                onclick={{fn this.updatePerson @person}}
                disabled={{if this.newName false true}}
                >
                <FaIcon @icon="check" />
            </button>
            <button 
                type="button" 
                class="btn btn-secondary btn-circle" 
                onclick={{this.toggleEditting}}
                >
                <FaIcon @icon="times-circle" />
            </button>
        {{else}}
            <button 
                type="button" 
                class="btn btn-default" 
                onclick={{this.toggleEditting}}>
                <FaIcon @icon="edit" class="primary"/>
            </button>
        {{/if}}
        <button 
            type="button" 
            class="btn btn-danger btn-circle" 
            onclick={{fn this.deletePerson @person}}>
            <FaIcon @icon="trash" />
        </button>
    </div>
</div>