{{!-- TODO: Break up into smaller components --}}
<div class="d-flex flex-column"
    {{on "mouseenter" this.showAddButtons}}
    {{on "mouseleave" this.hideAddButtons}}>
    <div class="my-2">
        <PersonInput 
            @placeholder="Change name" 
            @value={{newName}} 
            @disabled={{if this.isEditting false true}}
        />
        {{#if this.showingAddButtons}}
            {{#if this.isEditting}}
                <ButtonIcon 
                        class="btn-success" 
                        onclick={{this.updatePerson}}
                        disabled={{if this.newName false true}} 
                        @icon="check"
                />
            {{/if}}
            <ButtonIcon 
                class="btn-secondary" 
                onclick={{this.toggleEditting}}
                @icon={{if this.isEditting "times-circle" "edit"}}
            />
        {{/if}}
    </div>
    {{#if this.showingAddButtons}}
        <div class="my-1">
            <PersonInput 
                @placeholder="Add reporter" 
                @value={{newPerson}} 
            />
            <ButtonIcon 
                class="btn-secondary" 
                onclick={{this.createReporter}}
                disabled={{if this.newPerson false true}}
                @icon="plus"
            />
        </div>
        <div class="my-1">
            <PersonInput 
                @placeholder="Add peer" 
                @value={{newPeer}} 
            />
            <ButtonIcon 
                class="btn-secondary" 
                onclick={{this.createPeer}}
                disabled={{if this.newPeer false true}}
                @icon="plus"
            />
        </div>
        <div class="d-flex flex-row justify-content-center m-2">
            <button 
                type="button"
                class="btn btn-secondary btn-sm btn-block" 
                onclick={{this.deletePerson}}
            >Delete</button>
        </div>
    {{/if}}
</div>