<div class="d-flex flex-column position-relative"
    {{on "mouseleave" this.hideMenuOptions}}
>
    <div class="d-flex flex-row my-2 align-items-center">
        <PersonInput 
            @placeholder="Add name" 
            @value={{this.newName}} 
            @disabled={{if this.isEditting false true}}
            @select={{this.selected}}
        >
            {{#if this.isEditting}}
                <ButtonIcon 
                        class="icon-btn" 
                        onclick={{this.updatePerson}}
                        disabled={{if this.newName false true}} 
                        @icon="check"
                />
                <ButtonIcon 
                    class="icon-btn" 
                    onclick={{this.toggleEditting}}
                    disabled={{if @person.name false true}} 
                    @icon={{"times-circle"}}
                />
            {{/if}}
            <ButtonIcon 
                class="icon-btn" 
                {{on "mouseenter" this.showMenuOptions}}
                @icon="ellipsis-v"
            />
        </PersonInput>
        {{#if this.displayingMenuOptions}}
            <div class="d-flex position-absolute justify-content-center align-items-center" style="left: 100%;">
                <div class="arrow-left"></div>
                <div class="d-flex flex-column menu">
                    <MenuButton onclick={{this.toggleEditting}}>Edit</MenuButton>
                    <MenuButton onclick={{this.deletePerson}}>Delete</MenuButton>
                    <MenuButton onclick={{this.addNewPeer}}>Add Peer</MenuButton>
                    <MenuButton onclick={{this.addNewReporter}}>Add Direct Report</MenuButton>
                    <MenuButton onclick={{this.addNewManager}}>Add Manager</MenuButton>
                </div>
            </div>
        {{/if}}
    </div>
</div>