
<div class="d-flex flex-row justify-content-between align-items-center">
    
        {{#if this.isEditting}}
            {{input type="text" class="form-control w-50 " value=@person.name}}
        {{else}}
        <div class="mr-3">
            {{@person.name}}
        </div>
        {{/if}}
    <div>
        {{#if this.isEditting}}
            <button 
                type="button" 
                class="btn btn-primary" 
                onclick={{fn this.updatePerson @person}}
                disabled={{if @person.name false true}}
                >
                Done
            </button>
        {{else}}
            <button 
                type="button" 
                class="btn btn-primary" 
                onclick={{this.toggleEditting}}>
                Edit
            </button>
        {{/if}}
        <button 
            type="button" 
            class="btn btn-primary" 
            onclick={{fn this.deletePerson @person}}>
            Delete
        </button>
    </div>
</div>