<div class="d-flex flex-column position-relative"
    {{on "mouseleave" this.hideMenuOptions}}
>
    <div class="d-flex flex-row my-2 align-items-center">
        <PersonInput 
            @placeholder="Add name" 
            @value={{this.newName}} 
            @disabled={{if this.isEditting false true}}
            @select={{this.selected}}
        >
            {{#if this.isEditting}}
                <ButtonIcon 
                        class="icon-btn" 
                        onclick={{this.updatePerson}}
                        disabled={{if this.newName false true}} 
                        @icon="check"
                />
                <ButtonIcon 
                    class="icon-btn" 
                    onclick={{this.toggleEditting}}
                    disabled={{if @person.name false true}} 
                    @icon={{"times-circle"}}
                />
            {{/if}}
            <ButtonIcon 
                class="icon-btn" 
                {{on "mouseenter" this.showMenuOptions}}
                @icon="ellipsis-v"
            />
        </PersonInput>
        {{#if this.displayingMenuOptions}}
            <div class="d-flex position-absolute justify-content-center align-items-center" style="left: 100%;">
                <div class="arrow-left"></div>
                <div class="d-flex flex-column menu">
                    <MenuButton onclick={{this.toggleEditting}}>Edit</MenuButton>
                    <MenuButton onclick={{this.displayModal}}>Delete</MenuButton>
                    <MenuButton onclick={{this.addNewPeer}}>Add Peer</MenuButton>
                    <MenuButton onclick={{this.addNewReporter}}>Add Direct Report</MenuButton>
                    <MenuButton onclick={{this.addNewManager}}>Add Manager</MenuButton>
                </div>
            </div>
        {{/if}}
    </div>
</div>
{{#if this.showModal}}
    {{#bs-modal title="Confirm Deletion"}}
        <div class="m-3 d-flex flex-row justify-content-between align-items-center border-bottom">
            <h4>Confirm Deletion</h4>
            <ButtonIcon 
                class="" 
                onclick={{this.hideModal}}
                {{!-- disabled={{if @person.name false true}}  --}}
                @icon={{"times"}}
            />
        </div>
        <div class="m-3 d-flex flex-row justify-content-between align-items-center border-bottom">
            <p>
                Are you sure you want to delete this person? Their reporters will be deleted as well.
            </p>
        </div>
        <div class="mx-3 mb-3 d-flex flex-row justify-content-end">
            <button class="btn delete-btn" onclick={{this.deletePerson}}>
                Delete
            </button>
        </div>
    {{/bs-modal}}
{{/if}}