{{!-- List all peers --}}
    <ul class="list-group mx-5">
        {{#each @members as |person|}}
        <li class="list-group-item list-group-item-action">
            <Person @person={{person}} @members={{@members}}/>
        </li>
        {{/each}}
    {{!-- Add new peer --}}
        <li class="list-group-item list-group-item-action">
            <div class="input-group">
                {{input type="text" class="form-control" placeholder="Add a new member" value=newPerson}}
                <div class="input-group-append">
                    <button 
                    class="btn btn-outline-secondary" 
                    type="button"
                    {{!-- onclick={{action "createPerson"}} --}}
                    onclick={{fn this.createPerson}}
                    disabled={{if this.newPerson false true}}
                    >Add</button>
                </div>
            </div>
        </li>
    </ul>